.deliveryAddressForm {
    display: flex;
    justify-content: start;
    align-items: center;

    & > :first-child {
        margin-right: 43px;
    }

    div {
        display: flex;
        align-items: center;

        h3 {
            font-size: 32px;
            margin-right: 13px;
        }

        input {
            background: #F7F6F5;
            border-radius: 4px;
            max-width: 210px;
            padding: 10px 16px;
            border: unset;
            outline: unset;
        }
    }
}


@media (max-width: 800px) {
    .deliveryAddressForm {
        align-items: flex-start;
        flex-direction: column;

        div {
            justify-content: space-between;
        }

        & > :first-child {
            margin: 30px 0 20px 0;
        }

        h3 {
            margin: 0
        }

    }
}
